@page "{id:guid}"
@model TaskFlow.Web.Pages.TaskItems.DeleteModel
@{
}

@if (TempData["Message"] != null)
{
    <div class="alert alert-success">@TempData["Message"]</div>
}

<h2>Delete Task</h2>
<h4>Are you sure you want to delete this task?</h4>
<div>
<strong>@Model.TaskItem.Title</strong>
</div>


<form method="post">
<button type="submit" class="btn btn-danger">Delete</button>
<a asp-page="Index" class="btn btn-secondary">Cancel</a>
</form>